pip
motor
pymongo[srv]
praw
lxml
python-codeforces
discord.py
pytz
periodic
wikipedia
googletrans
udpy
pillow
discord.py[voice]
yt-dlp
youtube-title-parse
molmass
mendeleev
pytube
num2words
grequests
python-aternos
js2py
SpotifyUtil==0.0.0.7
redis[hiredis]